* {
    box-sizing: border-box;
}

body {
    background-image: url(Tea.jpg);
    /* width: 100%; */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* From https://css.glass */
    /* background: rgba(120, 63, 180, 0.11); */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(120, 63, 180, 0.11);
}

.row {
    display: flex;
    flex-wrap: wrap;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}
  
/* [class*="col-"] {
    float: left;
    padding: 0;
} */
  
/* .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */

.header {
    background-color: bisque;
    color: blueviolet;
    padding: 25px;
    text-align: center;
}

.logo-header {
    width: 10%;
}

.menu {
    background-color: wheat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-between; */
}

.group {
    display: flex;
}

.group .logo {
    padding: 10px 10px;
}

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: flex-end; */
}

ul li {
    /* width: 5%; */
    /* height: 5%; */
    text-align: center;
}

ul a {
    text-decoration: none;
    color: black;
    padding: 15px 18px;
}

ul li:hover {
    background-color: beige;
    cursor: pointer;
    color: blueviolet;
}

ul a.active {
    background-color: aliceblue;
    color: brown;
}

ul li > a, .dropdown li > a {
    display: flex;
    align-items: center;
    height: 100%;
}

.dropdown li {
    height: 100%;
}

.dropdown li > a::after {
    content: "\203A";
    transform: rotate(90deg);
    margin-left: 1em;
    font-weight: 700;
}

.dropbtn {
    cursor: pointer;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: beige;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown-menu a:hover {
    background-color: blueviolet;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.menu .search-container {
    display: flex;
    align-items: center;
}

.menu input[type=text] {
    padding: 6px;
    margin: 8px;
    font-size: 17px;
    border: none;
}

.menu .search-container button {
    padding: 6px 10px;
    /* margin-top: 8px; */
    margin-right: 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.menu .search-container button:hover {
    background-color: aqua;
}

/* article */
.article {
    /* background-color: beige; */
    color: white;
    padding: 1em;
}

.social {
    width: 15px;
    display: flex;
}

.footer {
    background-color: wheat;
    text-align: center;
    padding: 20px;
}

/* For mobile phones: */
/* [class*="col-"] {
    width: 100%;
} */
  
@media only screen and (max-width: 700px) {
    .group {
        flex-direction: column;
    }

    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}